* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
  }

.home-container {
    width: 100%;
    min-height: 115vh;
    background-attachment: fixed;
    background-color: black;
    background-image: linear-gradient(180deg, rgb(0, 0, 0) 0.00%,rgb(0, 119, 255) 100.00%);
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
 }
}

body {  
  animation: 1s ease-out 0s 1 slideInFromLeft;
  
  background-color: #161616;
}

.navbar {
    background: #131313;
    border-radius: 25px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
  }

  
  .navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
  }
  
  .navbar__item {
    height: 80px;
    padding-right: 3rem;
  }
  
  .navbar__links {
    color: #fff;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 100%;
  }

  .navbar__links:hover {
    color: #62a8f7;
    transition: all 0.3s ease;
  }

  #navbar__logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }
  
  .main__content {
    color: rgb(255, 255, 255);
    width: 100%;
  }
  
  .homebox {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    min-height: 52rem;
    height: 100%;
    width: 85%;
    max-width: 40rem;
    border-radius: 25px;
    background-color: #161616;
  }

  .main__img--container {
    padding-top: 1.6rem;
    padding-bottom: 1rem;
    text-align: center;
    transition: all 0.3s ease;
  }

  .main__img--container:hover {
    margin-top: 1rem;
    transition: all 0.5s ease;
  }
  
  #main__img {
    height: 50%;
    width: 50%;
    border-radius: 1.3rem;
  }

  .main__content h1 {
    font-size: 3rem;
    background-image: linear-gradient(180deg, rgb(255, 255, 255) 0.00%,rgb(0, 26, 255) 100.00%);
    background-size: 100%;
    text-align: center;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    transition: all 0.5s ease;
  }

  .main__content h1:hover {
    transition: 0.70s;
    transform: rotate(6deg);
  }
  
  .main__content h2 {
    font-size: 1.7rem;
    background-image: linear-gradient(180deg, rgb(0, 0, 0) 0.00%,rgb(27, 27, 27) 100.00%);
    background-size: 100%;
    border-radius: 0.6rem;
    text-decoration: none;
    color: #fff;
    text-align: center;
  }

  .main__content h3 {
    font-size: 2rem;
    background-size: 100%;
    border-radius: 0.6rem;
    text-decoration: none;
    color: #fff;
    text-align: center;
  }

  .main__content p {
    background-color: rgb(0, 119, 255);
    border-radius: 1rem;
    color: rgb(0, 255, 221);
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
  }

  .main__content h4 {
    margin-left: 2rem;
    font-size: 1.24em;
    font-weight: 700;
  }

  /* Tutorial Selection */

  .selectionbox {
    background-color: rgb(20, 20, 20);
    border-radius: 1rem;
    width: 21rem;
    height: 21rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    transition: all 0.5s ease;
  }

  .selectionbox:hover {
    transform: scale(1.1);
    background-color: rgb(0, 102, 255);
    transition: all 0.5s ease;
  }

  .selectionbox h3 {
    color: rgb(0, 255, 145);
    font-weight: 500;
  }

  .selectionbox a {
    color: transparent;
  }

  #selectionimage {
    height: 80%;
    width: 80%;
    margin: auto;
    display: block;
    border-radius: 1.3rem;
  }

#searchBar {
    width: 95%;
    height: 2.3rem;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 12px;
    background-color: #111111;
    color: white;
}

#searchWrapper {
    position: relative;
    text-align: center;
}

#tutorialList {
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 30px;
}


  /* Home */

  .backgroundbox {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    min-height: fit-content;
    width: 80%;
    border-radius: 25px;
    background-color: #131313;
  }

  .backgroundbox2 {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    min-height: fit-content;
    width: 80%;
    border-radius: 25px;
    background-color: #008cff;
  }

  .backgroundbox button {
    color: white;
    background-color:rgb(32, 32, 32);
    font-size: 2rem;
    height: 3rem;
    width: 15rem;
    text-decoration: none;
    border-radius: 1rem;
    border: none;
    transition: all 0.5s ease;
  }

  .backgroundbox button:hover {
    transform: scale(1.1);
    background-color:rgb(0, 255, 187);
    transition: all 0.5s ease;
  }

  .backgroundbox2 button {
    color: white;
    background-color:rgb(0, 119, 255);
    font-size: 2rem;
    height: 3rem;
    width: 15rem;
    text-decoration: none;
    border-radius: 1rem;
    border: none;
    transition: all 0.5s ease;
  }

  .backgroundbox2 button:hover {
    transform: scale(1.1);
    background-color:rgb(0, 102, 255);
    transition: all 0.5s ease;
  }

  .homeimage_container {
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
  }

  .homeimage_container2 {
    text-align: center;
  }

  .center {
    text-align: center;
  }

  #home_image {
    width: 15rem;
    height: 15rem;
  }

  .padding {
    padding-top: 1rem;
  }

    /* Ads */

    .ad {
      text-align: center;
    }
    
      @media only screen and (max-width: 930px) {
          .ad {
            display: none;
          }
      }